build/booking_b.pug
extends layout_booking.pug
include ../progress
block progress
	+progress(1)
block booking
	form(action='')
		div.col-12.background-gray.padding-v-15
			input(type='checkbox' name='register_for' id='register_for' )
			label(for='register_for') Tôi đăng ký thay cho những người khác chứ không tham gia.
		div.col-12
			small Chúng tôi đảm bảo 4 golfer bạn đăng ký sẽ đánh cùng 1 flight. Người còn lại chúng tôi sẽ ghép ngẫu nhiên vào 1 flight khác. Nếu số lượng đăng ký lớn hơn 1 flight bạn có thể sắp xếp người chơi bằng cách kéo & thả lên xuống vòng tròn màu cam.
		div.col-12#wrap
	div.col-12.d-flex.justify-content-between
		.main-button.mr-auto#add_user
			i.fas.fa-user-plus
		a.second-button.background-gray(href='') Quay lại
		a.main-button.ml-2(href='') Tiếp tục
block append scripts
	<script src="../js/handlebars-v4.0.12.js"></script>
block prepend myscripts
	script(id="flight-template" type="text/x-handlebars-template")
			div
				.line
				div.group.col-xl-8#flight_1_1
					div.row.align-items-center
						div.col-lg-4.title
							| Họ & tên
							span *
						div.col-lg-8.no-padding
							input(type='text' id='flight_1_1_name' name='flight[1][1][name]')
					div.row.align-items-center
						div.col-lg-4.title Số điện thoại
							span *
						div.col-lg-8.no-padding
							input(type='text' id='flight_1_1_phone' name='flight[1][1][phone]')
					div.row.align-items-center
						div.col-lg-4.title VHandicap
							span *
						div.col-lg-8.no-padding.d-flex
							div.select
								input(type='text' readonly placeholder='VHandicap' name='flight[1][1][course]' id='flight_1_1_course')
								ul
									li San Long Thanh
									li San Dong Mo
									li San Long Thanh
							input(type='text' class='vhandicap' id='flight_1_1_vhandicap' name='flight[1][1][vhandicap]')
					div.row.align-items-center
						div.col-lg-4.title Size áo
						div.col-lg-8.no-padding
							div.select
								input(type='text' readonly placeholder='S' name='flight[1][1][size]' id='flight_1_1_size')
								ul
									li S
									li M
									li L
									li XL
					div.row.align-items-center
						div.col-lg-4.title Lệ phí
						div.col-lg-8.no-padding.main-color 2.500.000
					div.second-button Xóa
					div.move.d-flex.flex-column.justify-content-center
						i.fa.fa-arrow-up
						i.fa.fa-arrow-down

	script( src="../js/sort.js" type='text/javascript')

html/booking_b.html
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Booking giai dau">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../font/roboto/stylesheet.css">
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">-->
    <link rel="stylesheet" href="../css/bootstrap-4.1.3.min.css">
    <link rel="stylesheet" href="../font-awesome/css/all.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <script src="../font-awesome/js/all.js"></script>
</head>
<body>
<header>
    <div class="container padding-v-15">
        <div class="position-relative">
            <div class="row align-items-center" id="sm-header">
                <div class="col-lg-7 col-md-6">
                    <div class="row align-items-center sm-background">
                        <div class="col-md-6 md-no-padding">
                            <div class="d-flex align-items-center justify-content-between sm-header"><a class="logo"
                                                                                                        href=""><img
                                    class="sm-hidden" src="../images/GolfNews_Logo_black.png"><img class="md-hidden"
                                                                                                   src="../images/Logo.png">
                                <div id="close-menu"><i class="fa fa-times"></i></div>
                            </a>
                                <div class="md-hidden"><a href="#" data-toggle="modal" data-target="#exampleModal">ĐĂNG
                                    NHẬP</a><a class="is-login hidden" href=""><i class="fa fa-user"></i><span>10</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 md-no-padding">
                            <form class="search" action="">
                                <input type="text" placeholder="Tìm giải đấu">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 sm-position-absolute md-no-padding">
                    <nav>
                        <div class="md-hidden"><img src="../images/bar.png"></div>
                        <ul class="text-right">
                            <li><a href="/danh-sach-giai-dau">DS giải đấu</a></li>
                            <li><a href="/tin-tuc-golf">TIN TỨC GOLF</a></li>
                            <li><a class="sm-hidden" href="#" data-toggle="modal" data-target="#exampleModal">ĐĂNG
                                NHẬP</a><a class="is-login hidden" href=""><i class="fa fa-user"></i><span>10</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="bg-overlay hidden"></div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="form-register hidden">
                    <h5 class="modal-title mb-3">ĐĂNG KÝ NGƯỜI DÙNG MỚI</h5>
                    <form class="register text-left">
                        <div class="row align-items-center">
                            <label class="col-3" for="last_name">Họ & chữ lót<span>*</span></label>
                            <input type="text" id="last_name" name="last_name" required="true" maxlength="255"
                                   pattern="[a-zA-Z]+" title="Chỉ nhập ký tự là chữ">
                        </div>
                        <div class="row align-items-center">
                            <label class="col-3" for="first_name">Tên<span>*</span></label>
                            <input type="text" id="first_name" name="first_name" required="true" maxlength="255"
                                   pattern="[a-zA-Z]+" title="Chỉ nhập ký tự là chữ">
                        </div>
                        <div class="row align-items-center">
                            <label class="col-3" for="phone">Số điện thoại<span>*</span></label>
                            <input type="text" id="phone" name="phone" required="true" maxlength="255" pattern="[0-9]+"
                                   title="Chỉ nhập số">
                        </div>
                        <div class="row align-items-center">
                            <label class="col-3" for="vhandicap">Handicap<span>*</span></label>
                            <div class="select">
                                <input type="text" readonly placeholder="VHandicap" name="course" id="course">
                                <ul>
                                    <li>San Long Thanh</li>
                                    <li>San Dong Mo</li>
                                    <li>San Long Thanh</li>
                                </ul>
                            </div>
                            <input class="vhandicap" type="text" id="vhandicap" name="vhandicap">
                        </div>
                        <div class="row align-items-center">
                            <label class="col-3" for="email">Email</label>
                            <input type="email" id="email" name="email" maxlength="255"
                                   title="Email không hợp lệ.Vui lòng nhập lại">
                        </div>
                        <div class="text-center mt-3">
                            <button class="main-button" type="submit">ĐĂNG KÝ</button>
                        </div>
                    </form>
                </div>
                <div class="form-login">
                    <h5 class="modal-title">NHẬP SỐ ĐIỆN THOẠI</h5>
                    <div>Để bắt đâù đăng ký, chúng tôi cần xác minh số điện thoại của bạn</div>
                    <form class="login">
                        <label for="phone_number">Nhập số điện thoại</label>
                        <div class="mb-3">
                            <input type="text" id="phone_number" name="phone_number" required="true" maxlength="255"
                                   pattern="[0-9]{1,12}" title="Chỉ nhập số">
                        </div>
                        <button class="main-button" type="submit">Nhận mã OTP</button>
                    </form>
                </div>
                <div class="form-otp hidden">
                    <h5 class="modal-title">NHẬP MÃ OTP CỦA BẠN</h5>
                    <div class="text-danger"></div>
                    <form class="login">
                        <!--	label(for='otp') Nhập mã OTP của bạn-->
                        <div class="mb-3">
                            <input class="padding-h-15" type="text" id="otp" name="otp" required="true" maxlength="255"
                                   pattern="[0-9]+" title="Mã OTP không hợp lệ">
                        </div>
                        <button class="main-button" type="submit">Đăng nhập</button>
                        <div class="margin-center main-button hidden" id="resend">Nhận mã OTP khác</div>
                    </form>
                </div>
                <div class="form-success hidden">
                    <h5 class="modal-title">ĐĂNG KÝ THÀNH CÔNG</h5>
                    <div class="text-left">Bạn đã tạo thành công tài khoản trên hệ thống Golfnews Tournament Booking.
                        Mỗi lần đăng nhập,mật khẩu sẽ được gửi về số điện thoại mà bạn đã đăng ký.<br></div>
                    <div class="text-left">Vui lòng nhấn "Tiếp tục" để đăng ký giải</div>
                    <button class="main-button">Tiếp tục đăng ký giải</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container booking">
    <div class="row">
        <div class="col-md-12 md-no-padding">
            <nav class="margin-v-15" id="breadcrumb">
                <ol class="breadcrumb no-padding">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item"><i class="fas fa-angle-right"></i><a href="#">Giải đấu</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-angle-right"></i>Đăng ký
                        giải
                    </li>
                </ol>
            </nav>
            <h5 class="title main-color padding-v-15">The Vhandicap Tournament 2018 - FORD CUP</h5>
            <div class="progress-booking d-flex">
                <div class="complete">
                    <div class="d-flex align-items-center"><i class="fas fa-check-circle"></i></div>
                    <h5>Chọn buổi thi đấu</h5>
                </div>
                <div>
                    <div class="d-flex align-items-center"><i class="fas fa-check-circle"></i></div>
                    <h5 class="main-color">Nhập thông tin flight</h5>
                </div>
                <div>
                    <div class="d-flex align-items-center"><i class="fas fa-check-circle"></i></div>
                    <h5>Xác nhận</h5>
                </div>
                <div>
                    <div class="d-flex align-items-center"><i class="fas fa-check-circle"></i></div>
                    <h5>Thanh toán</h5>
                </div>
                <div>
                    <div class="d-flex align-items-center"><i class="fas fa-check-circle"></i></div>
                    <h5>Hoàn tất</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row flex-row-reverse">
        <div class="col-xl-3 col-md-4 md-no-padding">
            <div class="sidebar padding-15">
                <h6>THÔNG TIN ĐĂNG KÝ</h6>
                <p class="title main-color">The 2nd Vhandicap Tournament 2018 - FORD CUP</p>
                <ul>
                    <li>
                        <div>Địa điểm</div>
                        <div>Sân Golf Tân Sơn Nhất</div>
                    </li>
                    <li>
                        <div>Xuất phát</div>
                        <div>07:00 ngày 25/01/2019</div>
                    </li>
                    <li>
                        <div>Số lượng</div>
                        <div>0</div>
                    </li>
                    <li>
                        <div>Bao gồm</div>
                        <div>
                            <ul>
                                <li>Ăn nhẹ trước khi xuất phát</li>
                                <li>Phí ra sân</li>
                                <li>Phí Caddie</li>
                                <li>Phí xe điện(2 người/xe)</li>
                                <li>Tiệc trao giải</li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="d-flex justify-content-between margin-v-15">
                    <div>Tổng lệ phí:</div>
                    <h5 class="main-color">7.500.000</h5>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-md-8 md-no-padding">
            <form action="">
                <div class="col-12 background-gray padding-v-15">
                    <input type="checkbox" name="register_for" id="register_for">
                    <label for="register_for">Tôi đăng ký thay cho những người khác chứ không tham gia.</label>
                </div>
                <div class="col-12">
                    <small>Chúng tôi đảm bảo 4 golfer bạn đăng ký sẽ đánh cùng 1 flight. Người còn lại chúng tôi sẽ ghép
                        ngẫu nhiên vào 1 flight khác. Nếu số lượng đăng ký lớn hơn 1 flight bạn có thể sắp xếp người
                        chơi bằng cách kéo & thả lên xuống vòng tròn màu cam.
                    </small>
                </div>
                <div class="col-12" id="wrap"></div>
            </form>
            <div class="col-12 d-flex justify-content-between">
                <div class="main-button mr-auto" id="add_user"><i class="fas fa-user-plus"></i></div>
                <a class="second-button background-gray" href="">Quay lại</a><a class="main-button ml-2" href="">Tiếp
                tục</a>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container padding-v-30">
        <div class="row">
            <div class="col-md-6 md-no-padding"><a class="logo" href=""><img
                    src="../images/GolfNews_Logo_black.png"></a>
                <p>&copy; Copyright 2018 Golfnews Tournament Booking System.All rights reserved
                <p>
                <p>Tất cả bản quyền thuộc về Golfnews</p>
            </div>
            <div class="col-md-2">
                <p>Column 1</p>
                <p>Column 2</p>
                <p>Column 3</p>
            </div>
            <div class="col-md-2">
                <p>Column 1</p>
                <p>Column 2</p>
                <p>Column 3</p>
            </div>
            <div class="col-md-2">
                <p>Column 1</p>
                <p>Column 2</p>
                <p>Column 3</p>
            </div>
        </div>
    </div>
</footer>
<script src="../js/jquery-3.2.1.slim.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap-4.1.3.min.js"></script>
<script src="../js/jquery-1.12.4.js"></script>
<script src="../js/jquery-ui-1.12.1.js"></script>
<script src="../js/handlebars-v4.0.12.js"></script>
<script id="flight-template" type="text/x-handlebars-template">
    <div>
        <div class="line"></div>
        <div class="group col-xl-8" id="{{id}}">
            <div>
                <div class="row align-items-center">
                    <div class="col-lg-4 title">Họ & tên<span>*</span></div>
                    <div class="col-lg-8 no-padding">
                        <input type="text" id="{{id}}_name" name="{{name}}[name]" value="{{group.name}}">
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-4 title">Số điện thoại<span>*</span></div>
                    <div class="col-lg-8 no-padding">
                        <input type="text" id="{{id}}_phone" name="{{name}}[phone]" value="{{group.phone}}">
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-4 title">VHandicap<span>*</span></div>
                    <div class="col-lg-8 no-padding d-flex">
                        <div class="select">
                            <input type="text" readonly placeholder="VHandicap" name="{{name}}[course]"
                                   id="{{id}}_course" value="{{group.course}}">
                            <ul>
                                <li>San Long Thanh</li>
                                <li>San Dong Mo</li>
                                <li>San Long Thanh</li>
                            </ul>
                            <i class="fas fa-angle-down"></i>
                        </div>
                        <input class="vhandicap" type="text" id="{{id}}_vhandicap" name="{{name}}[vhandicap]"
                               value="{{group.vhandicap}}">
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-4 title">Size áo</div>
                    <div class="col-lg-8 no-padding">
                        <div class="select">
                            <input type="text" readonly placeholder="S" name="{{name}}[size]" id="{{id}}_size"
                                   value="{{group.size}}">
                            <ul>
                                <li>S</li>
                                <li>M</li>
                                <li>L</li>
                                <li>XL</li>
                            </ul>
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-4 title">Lệ phí</div>
                    <div class="col-lg-8 no-padding main-color">2.500.000</div>
                </div>
                <div class="second-button remove">Xóa</div>
                <div class="move d-flex flex-column justify-content-center">
                    <i class="fa fa-arrow-up"></i>
                    <i class="fa fa-arrow-down"></i>
                </div>
            </div>
        </div>
    </div>
</script>
<script src="../js/sort.js" type="text/javascript"></script>
<script src="../js/main.js"></script>
</body>
</html>
