build/booking_c.pug
extends layout.pug
include ../progress
block content
	.container.booking
		.row
			.col-md-12.mb-4.md-no-padding
				nav#breadcrumb.margin-v-15
					<ol class="breadcrumb no-padding">
					<li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
					<li class="breadcrumb-item"><i class="fas fa-angle-right"></i><a href="#">Giải đấu</a></li>
					<li class="breadcrumb-item active" aria-current="page"><i class="fas fa-angle-right"></i>Đăng ký giải</li>
					</ol>
				h5.title.main-color.padding-v-15 The Vhandicap Tournament 2018 - FORD CUP
				+progress(2)
		.row
			.col-md-6
				div.flight-table
					h5.title.main-color Flight 1
					- for (var x = 1; x <= 4; x++)
						table.col-lg-9.no-padding.text-left.mb-4
							tr
								th Họ & tên
								td Nguyen Tran Duy Phuong
							tr
								th Số điện thoại
								td 0918555233
							tr
								th Handicap
								td San Long Thanh - 12
							tr
								th Size áo
								td XL
				div.flight-table
					h5.title.main-color Flight 2
					- for (var x = 1; x <= 2; x++)
						table.col-lg-9.no-padding.text-left.mb-4
							tr
								th Họ & tên
								td Nguyen Tran Duy Phuong
							tr
								th Số điện thoại
								td 0918555233
							tr
								th Handicap
								td San Long Thanh - 12
							tr
								th Size áo
								td XL
			.col-md-6.info
					div
						h5.title.main-color Thông tin giải đấu
						div
							b The 2nd Vhandicap Tournament 2018 - FORD CUP
							div.row
								div.col-lg-3
									b Địa điểm
								div.col-lg-9 Sân Golf Tân Sơn Nhất
							div.row
								div.col-lg-3
									b Xuất phát
								div.col-lg-9 07:00 ngày 25/01/2019
							div.row
								div.col-lg-3
									b Số lượng
								div.col-lg-9 5
					div
						h5.title.main-color Thông tin lệ phí
						div
							b Lệ phí bao gồm
							div
								| Ăn nhẹ trước khi xuất phát <br>
								| Phí ra sân
								| Phí Caddie
								| Phí xe điện (02 người/xe)
								| Tiệc trao giải
					div
						h5.title.main-color Tổng lệ phí
						div
							b Lệ phí cho 5 người tham gia
							h4.price.main-color 7.500.000 VND
					div.d-flex.mt-5
						a.col-xl-3.second-button.background-gray(href='') Quay lại
						a.col-xl-3.main-button.ml-2(href='') Tiếp tục

html/booking_c.html
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Booking giai dau">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../font/roboto/stylesheet.css">
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">-->
    <link rel="stylesheet" href="../css/bootstrap-4.1.3.min.css">
    <link rel="stylesheet" href="../font-awesome/css/all.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <script src="../font-awesome/js/all.js"></script>
</head>
<body>
<header>
    <div class="container padding-v-15">
        <div class="position-relative">
            <div class="row align-items-center" id="sm-header">
                <div class="col-lg-7 col-md-6">
                    <div class="row align-items-center sm-background">
                        <div class="col-md-6 md-no-padding">
                            <div class="d-flex align-items-center justify-content-between sm-header"><a class="logo"
                                                                                                        href=""><img
                                    class="sm-hidden" src="../images/GolfNews_Logo_black.png"><img class="md-hidden"
                                                                                                   src="../images/Logo.png">
                                <div id="close-menu"><i class="fa fa-times"></i></div>
                            </a>
                                <div class="md-hidden"><a href="#" data-toggle="modal" data-target="#exampleModal">ĐĂNG
                                    NHẬP</a><a class="is-login hidden" href=""><i class="fa fa-user"></i><span>10</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 md-no-padding">
                            <form class="search" action="">
                                <input type="text" placeholder="Tìm giải đấu">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 sm-position-absolute md-no-padding">
                    <nav>
                        <div class="md-hidden"><img src="../images/bar.png"></div>
                        <ul class="text-right">
                            <li><a href="/danh-sach-giai-dau">DS giải đấu</a></li>
                            <li><a href="/tin-tuc-golf">TIN TỨC GOLF</a></li>
                            <li><a class="sm-hidden" href="#" data-toggle="modal" data-target="#exampleModal">ĐĂNG
                                NHẬP</a><a class="is-login hidden" href=""><i class="fa fa-user"></i><span>10</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="bg-overlay hidden"></div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="form-register hidden">
                    <h5 class="modal-title mb-3">ĐĂNG KÝ NGƯỜI DÙNG MỚI</h5>
                    <form class="register text-left">
                        <div class="row align-items-center">
                            <label class="col-3" for="last_name">Họ & chữ lót<span>*</span></label>
                            <input type="text" id="last_name" name="last_name" required="true" maxlength="255"
                                   pattern="[a-zA-Z]+" title="Chỉ nhập ký tự là chữ">
                        </div>
                        <div class="row align-items-center">
                            <label class="col-3" for="first_name">Tên<span>*</span></label>
                            <input type="text" id="first_name" name="first_name" required="true" maxlength="255"
                                   pattern="[a-zA-Z]+" title="Chỉ nhập ký tự là chữ">
                        </div>
                        <div class="row align-items-center">
                            <label class="col-3" for="phone">Số điện thoại<span>*</span></label>
                            <input type="text" id="phone" name="phone" required="true" maxlength="255" pattern="[0-9]+"
                                   title="Chỉ nhập số">
                        </div>
                        <div class="row align-items-center">
                            <label class="col-3" for="vhandicap">Handicap<span>*</span></label>
                            <div class="select">
                                <input type="text" readonly placeholder="VHandicap" name="course" id="course">
                                <ul>
                                    <li>San Long Thanh</li>
                                    <li>San Dong Mo</li>
                                    <li>San Long Thanh</li>
                                </ul>
                            </div>
                            <input class="vhandicap" type="text" id="vhandicap" name="vhandicap">
                        </div>
                        <div class="row align-items-center">
                            <label class="col-3" for="email">Email</label>
                            <input type="email" id="email" name="email" maxlength="255"
                                   title="Email không hợp lệ.Vui lòng nhập lại">
                        </div>
                        <div class="text-center mt-3">
                            <button class="main-button" type="submit">ĐĂNG KÝ</button>
                        </div>
                    </form>
                </div>
                <div class="form-login">
                    <h5 class="modal-title">NHẬP SỐ ĐIỆN THOẠI</h5>
                    <div>Để bắt đâù đăng ký, chúng tôi cần xác minh số điện thoại của bạn</div>
                    <form class="login">
                        <label for="phone_number">Nhập số điện thoại</label>
                        <div class="mb-3">
                            <input type="text" id="phone_number" name="phone_number" required="true" maxlength="255"
                                   pattern="[0-9]{1,12}" title="Chỉ nhập số">
                        </div>
                        <button class="main-button" type="submit">Nhận mã OTP</button>
                    </form>
                </div>
                <div class="form-otp hidden">
                    <h5 class="modal-title">NHẬP MÃ OTP CỦA BẠN</h5>
                    <div class="text-danger"></div>
                    <form class="login">
                        <!--	label(for='otp') Nhập mã OTP của bạn-->
                        <div class="mb-3">
                            <input class="padding-h-15" type="text" id="otp" name="otp" required="true" maxlength="255"
                                   pattern="[0-9]+" title="Mã OTP không hợp lệ">
                        </div>
                        <button class="main-button" type="submit">Đăng nhập</button>
                        <div class="margin-center main-button hidden" id="resend">Nhận mã OTP khác</div>
                    </form>
                </div>
                <div class="form-success hidden">
                    <h5 class="modal-title">ĐĂNG KÝ THÀNH CÔNG</h5>
                    <div class="text-left">Bạn đã tạo thành công tài khoản trên hệ thống Golfnews Tournament Booking.
                        Mỗi lần đăng nhập,mật khẩu sẽ được gửi về số điện thoại mà bạn đã đăng ký.<br></div>
                    <div class="text-left">Vui lòng nhấn "Tiếp tục" để đăng ký giải</div>
                    <button class="main-button">Tiếp tục đăng ký giải</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container booking">
    <div class="row">
        <div class="col-md-12 mb-4 md-no-padding">
            <nav class="margin-v-15" id="breadcrumb">
                <ol class="breadcrumb no-padding">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item"><i class="fas fa-angle-right"></i><a href="#">Giải đấu</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-angle-right"></i>Đăng ký
                        giải
                    </li>
                </ol>
            </nav>
            <h5 class="title main-color padding-v-15">The Vhandicap Tournament 2018 - FORD CUP</h5>
            <div class="progress-booking d-flex">
                <div class="complete">
                    <div class="d-flex align-items-center"><i class="fas fa-check-circle"></i></div>
                    <h5>Chọn buổi thi đấu</h5>
                </div>
                <div class="complete">
                    <div class="d-flex align-items-center"><i class="fas fa-check-circle"></i></div>
                    <h5>Nhập thông tin flight</h5>
                </div>
                <div>
                    <div class="d-flex align-items-center"><i class="fas fa-check-circle"></i></div>
                    <h5 class="main-color">Xác nhận</h5>
                </div>
                <div>
                    <div class="d-flex align-items-center"><i class="fas fa-check-circle"></i></div>
                    <h5>Thanh toán</h5>
                </div>
                <div>
                    <div class="d-flex align-items-center"><i class="fas fa-check-circle"></i></div>
                    <h5>Hoàn tất</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="flight-table">
                <h5 class="title main-color">Flight 1</h5>
                <table class="col-lg-9 no-padding text-left mb-4">
                    <tr>
                        <th>Họ & tên</th>
                        <td>Nguyen Tran Duy Phuong</td>
                    </tr>
                    <tr>
                        <th>Số điện thoại</th>
                        <td>0918555233</td>
                    </tr>
                    <tr>
                        <th>Handicap</th>
                        <td>San Long Thanh - 12</td>
                    </tr>
                    <tr>
                        <th>Size áo</th>
                        <td>XL</td>
                    </tr>
                </table>
                <table class="col-lg-9 no-padding text-left mb-4">
                    <tr>
                        <th>Họ & tên</th>
                        <td>Nguyen Tran Duy Phuong</td>
                    </tr>
                    <tr>
                        <th>Số điện thoại</th>
                        <td>0918555233</td>
                    </tr>
                    <tr>
                        <th>Handicap</th>
                        <td>San Long Thanh - 12</td>
                    </tr>
                    <tr>
                        <th>Size áo</th>
                        <td>XL</td>
                    </tr>
                </table>
                <table class="col-lg-9 no-padding text-left mb-4">
                    <tr>
                        <th>Họ & tên</th>
                        <td>Nguyen Tran Duy Phuong</td>
                    </tr>
                    <tr>
                        <th>Số điện thoại</th>
                        <td>0918555233</td>
                    </tr>
                    <tr>
                        <th>Handicap</th>
                        <td>San Long Thanh - 12</td>
                    </tr>
                    <tr>
                        <th>Size áo</th>
                        <td>XL</td>
                    </tr>
                </table>
                <table class="col-lg-9 no-padding text-left mb-4">
                    <tr>
                        <th>Họ & tên</th>
                        <td>Nguyen Tran Duy Phuong</td>
                    </tr>
                    <tr>
                        <th>Số điện thoại</th>
                        <td>0918555233</td>
                    </tr>
                    <tr>
                        <th>Handicap</th>
                        <td>San Long Thanh - 12</td>
                    </tr>
                    <tr>
                        <th>Size áo</th>
                        <td>XL</td>
                    </tr>
                </table>
            </div>
            <div class="flight-table">
                <h5 class="title main-color">Flight 2</h5>
                <table class="col-lg-9 no-padding text-left mb-4">
                    <tr>
                        <th>Họ & tên</th>
                        <td>Nguyen Tran Duy Phuong</td>
                    </tr>
                    <tr>
                        <th>Số điện thoại</th>
                        <td>0918555233</td>
                    </tr>
                    <tr>
                        <th>Handicap</th>
                        <td>San Long Thanh - 12</td>
                    </tr>
                    <tr>
                        <th>Size áo</th>
                        <td>XL</td>
                    </tr>
                </table>
                <table class="col-lg-9 no-padding text-left mb-4">
                    <tr>
                        <th>Họ & tên</th>
                        <td>Nguyen Tran Duy Phuong</td>
                    </tr>
                    <tr>
                        <th>Số điện thoại</th>
                        <td>0918555233</td>
                    </tr>
                    <tr>
                        <th>Handicap</th>
                        <td>San Long Thanh - 12</td>
                    </tr>
                    <tr>
                        <th>Size áo</th>
                        <td>XL</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-6 info">
            <div>
                <h5 class="title main-color">Thông tin giải đấu</h5>
                <div><b>The 2nd Vhandicap Tournament 2018 - FORD CUP</b>
                    <div class="row">
                        <div class="col-lg-3"><b>Địa điểm</b></div>
                        <div class="col-lg-9">Sân Golf Tân Sơn Nhất</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"><b>Xuất phát</b></div>
                        <div class="col-lg-9">07:00 ngày 25/01/2019</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"><b>Số lượng</b></div>
                        <div class="col-lg-9">5</div>
                    </div>
                </div>
            </div>
            <div>
                <h5 class="title main-color">Thông tin lệ phí</h5>
                <div><b>Lệ phí bao gồm</b>
                    <div>
                        Ăn nhẹ trước khi xuất phát <br>
                        Phí ra sân
                        Phí Caddie
                        Phí xe điện (02 người/xe)
                        Tiệc trao giải
                    </div>
                </div>
            </div>
            <div>
                <h5 class="title main-color">Tổng lệ phí</h5>
                <div><b>Lệ phí cho 5 người tham gia</b>
                    <h4 class="price main-color">7.500.000 VND</h4>
                </div>
            </div>
            <div class="d-flex mt-5"><a class="col-xl-3 second-button background-gray" href="">Quay lại</a><a
                    class="col-xl-3 main-button ml-2" href="">Tiếp tục</a></div>
        </div>
    </div>
</div>
<footer>
    <div class="container padding-v-30">
        <div class="row">
            <div class="col-md-6 md-no-padding"><a class="logo" href=""><img
                    src="../images/GolfNews_Logo_black.png"></a>
                <p>&copy; Copyright 2018 Golfnews Tournament Booking System.All rights reserved
                <p>
                <p>Tất cả bản quyền thuộc về Golfnews</p>
            </div>
            <div class="col-md-2">
                <p>Column 1</p>
                <p>Column 2</p>
                <p>Column 3</p>
            </div>
            <div class="col-md-2">
                <p>Column 1</p>
                <p>Column 2</p>
                <p>Column 3</p>
            </div>
            <div class="col-md-2">
                <p>Column 1</p>
                <p>Column 2</p>
                <p>Column 3</p>
            </div>
        </div>
    </div>
</footer>
<script src="../js/jquery-3.2.1.slim.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap-4.1.3.min.js"></script>
<script src="../js/jquery-1.12.4.js"></script>
<script src="../js/jquery-ui-1.12.1.js"></script>
<script src="../js/main.js"></script>
</body>
</html>
