build/event_detail.pug
extends layout.pug
block content
	.container.content.event-detail
		.row
			.col-lg-9.no-padding
				img(src='../images/event.png')
			.col-lg-3.no-padding
				.sidebar
					ul.event-detail.padding-h-15
						li
							.title Ngày bắt đầu
							div 22/12/2018
						li
							.title Ngày kết thúc
							div 22/12/2018
						li
							.title Đơn vị tổ chức
							div 22/12/2018
						li
							.title Địa điểm
							div Sân golf Tân Sơn Nhất
						li
							.title Hình thức
							div Stroke play
						li
							.title Số golfer tối đa
							div 244
						li
							.title Chi phí
							div 2.300.000 VND
					a(href='', class='main-button') ĐĂNG KÝ NGAY
		.row
			.col-lg-9.padding-left-lg-0.padding-xs-0.main-content
				<nav id="breadcrumb" class="padding-v-15">
					<ol class="breadcrumb no-padding">
						<li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
						<li class="breadcrumb-item"><a href="#">Giải đấu</a></li>
						<li class="breadcrumb-item active" aria-current="page">Golf tournament 2019</li>
					</ol>
				</nav>
				div.d-md-flex.justify-content-between.align-items-center.mb-3
					<ul class="nav nav-pills" id="pills-tab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="pills-rule-tab" data-toggle="pill" href="#pills-rule" role="tab" aria-controls="pills-rule" aria-selected="true">Điều lệ</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="pills-golfers-tab" data-toggle="pill" href="#pills-golfers" role="tab" aria-controls="pills-golfers" aria-selected="false">Danh sách</a>
							div.main-color 225
						</li>
					</ul>
					div
						form.search(action='')
							input(type='text',placeholder='Tìm Golfer theo số điện thoại')
							button(type='submit')
								i(class='fas fa-search')
				<div class="tab-content" id="pills-tabContent">
					<div class="tab-pane fade show active" id="pills-rule" role="tabpanel" aria-labelledby="pills-rule-tab">
						| Est quis nulla laborum officia ad nisi ex nostrud culpa Lorem excepteur aliquip dolor aliqua irure ex. Nulla ut duis ipsum nisi elit fugiat commodo sunt reprehenderit laborum veniam eu veniam. Eiusmod minim exercitation fugiat irure ex labore incididunt do fugiat commodo aliquip sit id deserunt reprehenderit aliquip nostrud. Amet ex cupidatat excepteur aute veniam incididunt mollit cupidatat esse irure officia elit do ipsum ullamco Lorem. Ullamco ut ad minim do mollit labore ipsum laboris ipsum commodo sunt tempor enim incididunt. Commodo quis sunt dolore aliquip aute tempor irure magna enim minim reprehenderit. Ullamco consectetur culpa veniam sint cillum aliqua incididunt velit ullamco sunt ullamco quis quis commodo voluptate. Mollit nulla nostrud adipisicing aliqua cupidatat aliqua pariatur mollit voluptate voluptate consequat non.
					</div>
					<div class="tab-pane fade" id="pills-golfers" role="tabpanel" aria-labelledby="pills-golfers-tab">
						table
							tr.title
								th Tên Golfer
								th Ngày đăng ký
								th Số điện thoại
								th Thanh toán
								th Hành động
							- for(var x=1;x<=10;x++)
								tr
									td
										| Nguyễn Trần Duy Phương
										div.md-hidden
											div
												span Ngày đk:
												span 20/12/2018
											div
												span Số ĐT:
												span ***5608

									td 20/12/2018
									td ***5608
									td
										if x >5
											div.payment.checked
												<i class="fas fa-check"></i>
										else
											div.payment
									td
										a.main-button(href='') Thanh tóan
										a.second-button(href='') Hủy đăng ký



						<nav class='mt-3'>
							<ul class="pagination justify-content-center">
								<li class="page-item">
									<a href="#" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
										<span class="sr-only">Previous</span>
									</a>
								</li>
								<li class="page-item"><a href="#">1</a></li>
								<li class="page-item"><a href="#">2</a></li>
								<li class="page-item"><a href="#">3</a></li>
								<li><div>...</div></li>
								<li class="page-item"><a href="#">11</a></li>
								<li class="page-item"><a href="#">12</a></li>
								<li class="page-item"><a href="#">13</a></li>
								<li class="page-item">
									<a href="#" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
										<span class="sr-only">Next</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			.col-lg-3.no-padding
				.sidebar.margin-v-15.padding-15
					h5.title.text-center Các giải đấu khác
					.event-list.event-list--sidebar.row
						- for (var x = 1; x <= 3; x++)
							.event-item.col-lg-12.col-sm-6
								.event-item__thumbnail.thumbnail--border
									img(src='../images/tour' + x + '.png')
								.event-item__detail
									.title
										a(href='' title='') The 2nd Vhandicap Tournament
									.date 22/04/2019
									.location Long Bien Golf Club
									.d-flex.justify-content-between
										.price 2.300.000
										a(href='') XEM
					div.text-center
						a(href='') Xem tất cả

html/event_detail.html
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Booking giai dau">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../font/roboto/stylesheet.css">
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">-->
    <link rel="stylesheet" href="../css/bootstrap-4.1.3.min.css">
    <link rel="stylesheet" href="../font-awesome/css/all.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <script src="../font-awesome/js/all.js"></script>
</head>
<body>
<header>
    <div class="container padding-v-15">
        <div class="position-relative">
            <div class="row align-items-center" id="sm-header">
                <div class="col-lg-7 col-md-6">
                    <div class="row align-items-center sm-background">
                        <div class="col-md-6 md-no-padding">
                            <div class="d-flex align-items-center justify-content-between sm-header"><a class="logo"
                                                                                                        href=""><img
                                    class="sm-hidden" src="../images/GolfNews_Logo_black.png"><img class="md-hidden"
                                                                                                   src="../images/Logo.png">
                                <div id="close-menu"><i class="fa fa-times"></i></div>
                            </a>
                                <div class="md-hidden"><a href="#" data-toggle="modal" data-target="#exampleModal">ĐĂNG
                                    NHẬP</a><a class="is-login hidden" href=""><i class="fa fa-user"></i><span>10</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 md-no-padding">
                            <form class="search" action="">
                                <input type="text" placeholder="Tìm giải đấu">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 sm-position-absolute md-no-padding">
                    <nav>
                        <div class="md-hidden"><img src="../images/bar.png"></div>
                        <ul class="text-right">
                            <li><a href="/danh-sach-giai-dau">DS giải đấu</a></li>
                            <li><a href="/tin-tuc-golf">TIN TỨC GOLF</a></li>
                            <li><a class="sm-hidden" href="#" data-toggle="modal" data-target="#exampleModal">ĐĂNG
                                NHẬP</a><a class="is-login hidden" href=""><i class="fa fa-user"></i><span>10</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="bg-overlay hidden"></div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="form-register hidden">
                    <h5 class="modal-title mb-3">ĐĂNG KÝ NGƯỜI DÙNG MỚI</h5>
                    <form class="register text-left">
                        <div class="row align-items-center">
                            <label class="col-3" for="last_name">Họ & chữ lót<span>*</span></label>
                            <input type="text" id="last_name" name="last_name" required="true" maxlength="255"
                                   pattern="[a-zA-Z]+" title="Chỉ nhập ký tự là chữ">
                        </div>
                        <div class="row align-items-center">
                            <label class="col-3" for="first_name">Tên<span>*</span></label>
                            <input type="text" id="first_name" name="first_name" required="true" maxlength="255"
                                   pattern="[a-zA-Z]+" title="Chỉ nhập ký tự là chữ">
                        </div>
                        <div class="row align-items-center">
                            <label class="col-3" for="phone">Số điện thoại<span>*</span></label>
                            <input type="text" id="phone" name="phone" required="true" maxlength="255" pattern="[0-9]+"
                                   title="Chỉ nhập số">
                        </div>
                        <div class="row align-items-center">
                            <label class="col-3" for="vhandicap">Handicap<span>*</span></label>
                            <div class="select">
                                <input type="text" readonly placeholder="VHandicap" name="course" id="course">
                                <ul>
                                    <li>San Long Thanh</li>
                                    <li>San Dong Mo</li>
                                    <li>San Long Thanh</li>
                                </ul>
                            </div>
                            <input class="vhandicap" type="text" id="vhandicap" name="vhandicap">
                        </div>
                        <div class="row align-items-center">
                            <label class="col-3" for="email">Email</label>
                            <input type="email" id="email" name="email" maxlength="255"
                                   title="Email không hợp lệ.Vui lòng nhập lại">
                        </div>
                        <div class="text-center mt-3">
                            <button class="main-button" type="submit">ĐĂNG KÝ</button>
                        </div>
                    </form>
                </div>
                <div class="form-login">
                    <h5 class="modal-title">NHẬP SỐ ĐIỆN THOẠI</h5>
                    <div>Để bắt đâù đăng ký, chúng tôi cần xác minh số điện thoại của bạn</div>
                    <form class="login">
                        <label for="phone_number">Nhập số điện thoại</label>
                        <div class="mb-3">
                            <input type="text" id="phone_number" name="phone_number" required="true" maxlength="255"
                                   pattern="[0-9]{1,12}" title="Chỉ nhập số">
                        </div>
                        <button class="main-button" type="submit">Nhận mã OTP</button>
                    </form>
                </div>
                <div class="form-otp hidden">
                    <h5 class="modal-title">NHẬP MÃ OTP CỦA BẠN</h5>
                    <div class="text-danger"></div>
                    <form class="login">
                        <!--	label(for='otp') Nhập mã OTP của bạn-->
                        <div class="mb-3">
                            <input class="padding-h-15" type="text" id="otp" name="otp" required="true" maxlength="255"
                                   pattern="[0-9]+" title="Mã OTP không hợp lệ">
                        </div>
                        <button class="main-button" type="submit">Đăng nhập</button>
                        <div class="margin-center main-button hidden" id="resend">Nhận mã OTP khác</div>
                    </form>
                </div>
                <div class="form-success hidden">
                    <h5 class="modal-title">ĐĂNG KÝ THÀNH CÔNG</h5>
                    <div class="text-left">Bạn đã tạo thành công tài khoản trên hệ thống Golfnews Tournament Booking.
                        Mỗi lần đăng nhập,mật khẩu sẽ được gửi về số điện thoại mà bạn đã đăng ký.<br></div>
                    <div class="text-left">Vui lòng nhấn "Tiếp tục" để đăng ký giải</div>
                    <button class="main-button">Tiếp tục đăng ký giải</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container content event-detail">
    <div class="row">
        <div class="col-lg-9 no-padding"><img src="../images/event.png"></div>
        <div class="col-lg-3 no-padding">
            <div class="sidebar">
                <ul class="event-detail padding-h-15">
                    <li>
                        <div class="title">Ngày bắt đầu</div>
                        <div>22/12/2018</div>
                    </li>
                    <li>
                        <div class="title">Ngày kết thúc</div>
                        <div>22/12/2018</div>
                    </li>
                    <li>
                        <div class="title">Đơn vị tổ chức</div>
                        <div>22/12/2018</div>
                    </li>
                    <li>
                        <div class="title">Địa điểm</div>
                        <div>Sân golf Tân Sơn Nhất</div>
                    </li>
                    <li>
                        <div class="title">Hình thức</div>
                        <div>Stroke play</div>
                    </li>
                    <li>
                        <div class="title">Số golfer tối đa</div>
                        <div>244</div>
                    </li>
                    <li>
                        <div class="title">Chi phí</div>
                        <div>2.300.000 VND</div>
                    </li>
                </ul>
                <a class="main-button" href="">ĐĂNG KÝ NGAY</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 padding-left-lg-0 padding-xs-0 main-content">
            <nav id="breadcrumb" class="padding-v-15">
                <ol class="breadcrumb no-padding">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="#">Giải đấu</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Golf tournament 2019</li>
                </ol>
            </nav>
            <div class="d-md-flex justify-content-between align-items-center mb-3">
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-rule-tab" data-toggle="pill" href="#pills-rule" role="tab"
                           aria-controls="pills-rule" aria-selected="true">Điều lệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-golfers-tab" data-toggle="pill" href="#pills-golfers" role="tab"
                           aria-controls="pills-golfers" aria-selected="false">Danh sách</a>
                        <div class="main-color">225</div>
                    </li>
                </ul>
                <div>
                    <form class="search" action="">
                        <input type="text" placeholder="Tìm Golfer theo số điện thoại">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-rule" role="tabpanel" aria-labelledby="pills-rule-tab">
                    Est quis nulla laborum officia ad nisi ex nostrud culpa Lorem excepteur aliquip dolor aliqua irure
                    ex. Nulla ut duis ipsum nisi elit fugiat commodo sunt reprehenderit laborum veniam eu veniam.
                    Eiusmod minim exercitation fugiat irure ex labore incididunt do fugiat commodo aliquip sit id
                    deserunt reprehenderit aliquip nostrud. Amet ex cupidatat excepteur aute veniam incididunt mollit
                    cupidatat esse irure officia elit do ipsum ullamco Lorem. Ullamco ut ad minim do mollit labore ipsum
                    laboris ipsum commodo sunt tempor enim incididunt. Commodo quis sunt dolore aliquip aute tempor
                    irure magna enim minim reprehenderit. Ullamco consectetur culpa veniam sint cillum aliqua incididunt
                    velit ullamco sunt ullamco quis quis commodo voluptate. Mollit nulla nostrud adipisicing aliqua
                    cupidatat aliqua pariatur mollit voluptate voluptate consequat non.
                </div>
                <div class="tab-pane fade" id="pills-golfers" role="tabpanel" aria-labelledby="pills-golfers-tab">
                    <table>
                        <tr class="title">
                            <th>Tên Golfer</th>
                            <th>Ngày đăng ký</th>
                            <th>Số điện thoại</th>
                            <th>Thanh toán</th>
                            <th>Hành động</th>
                        </tr>
                        <tr>
                            <td>Nguyễn Trần Duy Phương
                                <div class="md-hidden">
                                    <div><span>Ngày đk:</span><span>20/12/2018</span></div>
                                    <div><span>Số ĐT:</span><span>***5608</span></div>
                                </div>
                            </td>
                            <td>20/12/2018</td>
                            <td>***5608</td>
                            <td>
                                <div class="payment"></div>
                            </td>
                            <td><a class="main-button" href="">Thanh tóan</a><a class="second-button" href="">Hủy đăng
                                ký</a></td>
                        </tr>
                        <tr>
                            <td>Nguyễn Trần Duy Phương
                                <div class="md-hidden">
                                    <div><span>Ngày đk:</span><span>20/12/2018</span></div>
                                    <div><span>Số ĐT:</span><span>***5608</span></div>
                                </div>
                            </td>
                            <td>20/12/2018</td>
                            <td>***5608</td>
                            <td>
                                <div class="payment"></div>
                            </td>
                            <td><a class="main-button" href="">Thanh tóan</a><a class="second-button" href="">Hủy đăng
                                ký</a></td>
                        </tr>
                        <tr>
                            <td>Nguyễn Trần Duy Phương
                                <div class="md-hidden">
                                    <div><span>Ngày đk:</span><span>20/12/2018</span></div>
                                    <div><span>Số ĐT:</span><span>***5608</span></div>
                                </div>
                            </td>
                            <td>20/12/2018</td>
                            <td>***5608</td>
                            <td>
                                <div class="payment"></div>
                            </td>
                            <td><a class="main-button" href="">Thanh tóan</a><a class="second-button" href="">Hủy đăng
                                ký</a></td>
                        </tr>
                        <tr>
                            <td>Nguyễn Trần Duy Phương
                                <div class="md-hidden">
                                    <div><span>Ngày đk:</span><span>20/12/2018</span></div>
                                    <div><span>Số ĐT:</span><span>***5608</span></div>
                                </div>
                            </td>
                            <td>20/12/2018</td>
                            <td>***5608</td>
                            <td>
                                <div class="payment"></div>
                            </td>
                            <td><a class="main-button" href="">Thanh tóan</a><a class="second-button" href="">Hủy đăng
                                ký</a></td>
                        </tr>
                        <tr>
                            <td>Nguyễn Trần Duy Phương
                                <div class="md-hidden">
                                    <div><span>Ngày đk:</span><span>20/12/2018</span></div>
                                    <div><span>Số ĐT:</span><span>***5608</span></div>
                                </div>
                            </td>
                            <td>20/12/2018</td>
                            <td>***5608</td>
                            <td>
                                <div class="payment"></div>
                            </td>
                            <td><a class="main-button" href="">Thanh tóan</a><a class="second-button" href="">Hủy đăng
                                ký</a></td>
                        </tr>
                        <tr>
                            <td>Nguyễn Trần Duy Phương
                                <div class="md-hidden">
                                    <div><span>Ngày đk:</span><span>20/12/2018</span></div>
                                    <div><span>Số ĐT:</span><span>***5608</span></div>
                                </div>
                            </td>
                            <td>20/12/2018</td>
                            <td>***5608</td>
                            <td>
                                <div class="payment checked"><i class="fas fa-check"></i></div>
                            </td>
                            <td><a class="main-button" href="">Thanh tóan</a><a class="second-button" href="">Hủy đăng
                                ký</a></td>
                        </tr>
                        <tr>
                            <td>Nguyễn Trần Duy Phương
                                <div class="md-hidden">
                                    <div><span>Ngày đk:</span><span>20/12/2018</span></div>
                                    <div><span>Số ĐT:</span><span>***5608</span></div>
                                </div>
                            </td>
                            <td>20/12/2018</td>
                            <td>***5608</td>
                            <td>
                                <div class="payment checked"><i class="fas fa-check"></i></div>
                            </td>
                            <td><a class="main-button" href="">Thanh tóan</a><a class="second-button" href="">Hủy đăng
                                ký</a></td>
                        </tr>
                        <tr>
                            <td>Nguyễn Trần Duy Phương
                                <div class="md-hidden">
                                    <div><span>Ngày đk:</span><span>20/12/2018</span></div>
                                    <div><span>Số ĐT:</span><span>***5608</span></div>
                                </div>
                            </td>
                            <td>20/12/2018</td>
                            <td>***5608</td>
                            <td>
                                <div class="payment checked"><i class="fas fa-check"></i></div>
                            </td>
                            <td><a class="main-button" href="">Thanh tóan</a><a class="second-button" href="">Hủy đăng
                                ký</a></td>
                        </tr>
                        <tr>
                            <td>Nguyễn Trần Duy Phương
                                <div class="md-hidden">
                                    <div><span>Ngày đk:</span><span>20/12/2018</span></div>
                                    <div><span>Số ĐT:</span><span>***5608</span></div>
                                </div>
                            </td>
                            <td>20/12/2018</td>
                            <td>***5608</td>
                            <td>
                                <div class="payment checked"><i class="fas fa-check"></i></div>
                            </td>
                            <td><a class="main-button" href="">Thanh tóan</a><a class="second-button" href="">Hủy đăng
                                ký</a></td>
                        </tr>
                        <tr>
                            <td>Nguyễn Trần Duy Phương
                                <div class="md-hidden">
                                    <div><span>Ngày đk:</span><span>20/12/2018</span></div>
                                    <div><span>Số ĐT:</span><span>***5608</span></div>
                                </div>
                            </td>
                            <td>20/12/2018</td>
                            <td>***5608</td>
                            <td>
                                <div class="payment checked"><i class="fas fa-check"></i></div>
                            </td>
                            <td><a class="main-button" href="">Thanh tóan</a><a class="second-button" href="">Hủy đăng
                                ký</a></td>
                        </tr>
                    </table>
                    <nav class='mt-3'>
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a href="#">1</a></li>
                            <li class="page-item"><a href="#">2</a></li>
                            <li class="page-item"><a href="#">3</a></li>
                            <li>
                                <div>...</div>
                            </li>
                            <li class="page-item"><a href="#">11</a></li>
                            <li class="page-item"><a href="#">12</a></li>
                            <li class="page-item"><a href="#">13</a></li>
                            <li class="page-item">
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-lg-3 no-padding">
            <div class="sidebar margin-v-15 padding-15">
                <h5 class="title text-center">Các giải đấu khác</h5>
                <div class="event-list event-list--sidebar row">
                    <div class="event-item col-lg-12 col-sm-6">
                        <div class="event-item__thumbnail thumbnail--border"><img src="../images/tour1.png"></div>
                        <div class="event-item__detail">
                            <div class="title"><a href="" title="">The 2nd Vhandicap Tournament</a></div>
                            <div class="date">22/04/2019</div>
                            <div class="location">Long Bien Golf Club</div>
                            <div class="d-flex justify-content-between">
                                <div class="price">2.300.000</div>
                                <a href="">XEM</a>
                            </div>
                        </div>
                    </div>
                    <div class="event-item col-lg-12 col-sm-6">
                        <div class="event-item__thumbnail thumbnail--border"><img src="../images/tour2.png"></div>
                        <div class="event-item__detail">
                            <div class="title"><a href="" title="">The 2nd Vhandicap Tournament</a></div>
                            <div class="date">22/04/2019</div>
                            <div class="location">Long Bien Golf Club</div>
                            <div class="d-flex justify-content-between">
                                <div class="price">2.300.000</div>
                                <a href="">XEM</a>
                            </div>
                        </div>
                    </div>
                    <div class="event-item col-lg-12 col-sm-6">
                        <div class="event-item__thumbnail thumbnail--border"><img src="../images/tour3.png"></div>
                        <div class="event-item__detail">
                            <div class="title"><a href="" title="">The 2nd Vhandicap Tournament</a></div>
                            <div class="date">22/04/2019</div>
                            <div class="location">Long Bien Golf Club</div>
                            <div class="d-flex justify-content-between">
                                <div class="price">2.300.000</div>
                                <a href="">XEM</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center"><a href="">Xem tất cả</a></div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container padding-v-30">
        <div class="row">
            <div class="col-md-6 md-no-padding"><a class="logo" href=""><img
                    src="../images/GolfNews_Logo_black.png"></a>
                <p>&copy; Copyright 2018 Golfnews Tournament Booking System.All rights reserved
                <p>
                <p>Tất cả bản quyền thuộc về Golfnews</p>
            </div>
            <div class="col-md-2">
                <p>Column 1</p>
                <p>Column 2</p>
                <p>Column 3</p>
            </div>
            <div class="col-md-2">
                <p>Column 1</p>
                <p>Column 2</p>
                <p>Column 3</p>
            </div>
            <div class="col-md-2">
                <p>Column 1</p>
                <p>Column 2</p>
                <p>Column 3</p>
            </div>
        </div>
    </div>
</footer>
<script src="../js/jquery-3.2.1.slim.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap-4.1.3.min.js"></script>
<script src="../js/jquery-1.12.4.js"></script>
<script src="../js/jquery-ui-1.12.1.js"></script>
<script src="../js/main.js"></script>
</body>
</html>
