html/index.html
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Booking giai dau">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../font/roboto/stylesheet.css">
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">-->
    <link rel="stylesheet" href="../css/bootstrap-4.1.3.min.css">
    <link rel="stylesheet" href="../font-awesome/css/all.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <script src="../font-awesome/js/all.js"></script>
</head>
<body class="home-page">
<header>
    <div class="container padding-v-15">
        <div class="position-relative">
            <div class="row align-items-center" id="sm-header">
                <div class="col-lg-7 col-md-6">
                    <div class="row align-items-center sm-background">
                        <div class="col-md-6 md-no-padding">
                            <div class="d-flex align-items-center justify-content-between sm-header"><a class="logo"
                                                                                                        href=""><img
                                    class="sm-hidden" src="../images/GolfNews_Logo_black.png"><img class="md-hidden"
                                                                                                   src="../images/Logo.png">
                                <div id="close-menu"><i class="fa fa-times"></i></div>
                            </a>
                                <div class="md-hidden"><a href="#" data-toggle="modal" data-target="#exampleModal">ĐĂNG
                                    NHẬP</a><a class="is-login hidden" href=""><i class="fa fa-user"></i><span>10</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 md-no-padding">
                            <form class="search" action="">
                                <input type="text" placeholder="Tìm giải đấu">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 sm-position-absolute md-no-padding">
                    <nav>
                        <div class="md-hidden"><img src="../images/bar.png"></div>
                        <ul class="text-right">
                            <li><a href="/danh-sach-giai-dau">DS giải đấu</a></li>
                            <li><a href="/tin-tuc-golf">TIN TỨC GOLF</a></li>
                            <li><a class="sm-hidden" href="#" data-toggle="modal" data-target="#exampleModal">ĐĂNG
                                NHẬP</a><a class="is-login hidden" href=""><i class="fas fa-user"></i><span>10</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="bg-overlay hidden"></div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="form-register hidden">
                    <h5 class="modal-title mb-3">ĐĂNG KÝ NGƯỜI DÙNG MỚI</h5>
                    <form class="register text-left">
                        <div class="row align-items-center">
                            <label class="col-3" for="last_name">Họ & chữ lót<span>*</span></label>
                            <input type="text" id="last_name" name="last_name" required="true" maxlength="255"
                                   pattern="[a-zA-Z]+" title="Chỉ nhập ký tự là chữ">
                        </div>
                        <div class="row align-items-center">
                            <label class="col-3" for="first_name">Tên<span>*</span></label>
                            <input type="text" id="first_name" name="first_name" required="true" maxlength="255"
                                   pattern="[a-zA-Z]+" title="Chỉ nhập ký tự là chữ">
                        </div>
                        <div class="row align-items-center">
                            <label class="col-3" for="phone">Số điện thoại<span>*</span></label>
                            <input type="text" id="phone" name="phone" required="true" maxlength="255" pattern="[0-9]+"
                                   title="Chỉ nhập số">
                        </div>
                        <div class="row align-items-center">
                            <label class="col-3" for="vhandicap">Handicap<span>*</span></label>
                            <div class="select">
                                <input type="text" readonly placeholder="VHandicap" name="course" id="course">
                                <ul>
                                    <li>San Long Thanh</li>
                                    <li>San Dong Mo</li>
                                    <li>San Long Thanh</li>
                                </ul>
                            </div>
                            <input class="vhandicap" type="text" id="vhandicap" name="vhandicap">
                        </div>
                        <div class="row align-items-center">
                            <label class="col-3" for="email">Email</label>
                            <input type="email" id="email" name="email" maxlength="255"
                                   title="Email không hợp lệ.Vui lòng nhập lại">
                        </div>
                        <div class="text-center mt-3">
                            <button class="main-button" type="submit">ĐĂNG KÝ</button>
                        </div>
                    </form>
                </div>
                <div class="form-login">
                    <h5 class="modal-title">NHẬP SỐ ĐIỆN THOẠI</h5>
                    <div>Để bắt đâù đăng ký, chúng tôi cần xác minh số điện thoại của bạn</div>
                    <form class="login">
                        <label for="phone_number">Nhập số điện thoại</label>
                        <div class="mb-3">
                            <input type="text" id="phone_number" name="phone_number" required="true" maxlength="255"
                                   pattern="[0-9]{1,12}" title="Chỉ nhập số">
                        </div>
                        <button class="main-button" type="submit">Nhận mã OTP</button>
                    </form>
                </div>
                <div class="form-otp hidden">
                    <h5 class="modal-title">NHẬP MÃ OTP CỦA BẠN</h5>
                    <div class="text-danger"></div>
                    <form class="login">
                        <!--	label(for='otp') Nhập mã OTP của bạn-->
                        <div class="mb-3">
                            <input class="padding-h-15" type="text" id="otp" name="otp" required="true" maxlength="255"
                                   pattern="[0-9]+" title="Mã OTP không hợp lệ">
                        </div>
                        <button class="main-button" type="submit">Đăng nhập</button>
                        <div class="margin-center main-button hidden" id="resend">Nhận mã OTP khác</div>
                    </form>
                </div>
                <div class="form-success hidden">
                    <h5 class="modal-title">ĐĂNG KÝ THÀNH CÔNG</h5>
                    <div class="text-left">Bạn đã tạo thành công tài khoản trên hệ thống Golfnews Tournament Booking.
                        Mỗi lần đăng nhập,mật khẩu sẽ được gửi về số điện thoại mà bạn đã đăng ký.<br></div>
                    <div class="text-left">Vui lòng nhấn "Tiếp tục" để đăng ký giải</div>
                    <button class="main-button">Tiếp tục đăng ký giải</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="homeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#homeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#homeSlider" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active"><img class="d-block w-100" src="../images/slide1.jpg" alt="First slide">
            <div class="carousel-item-info d-flex align-items-center justify-content-between flex-column">
                <div>
                    <h2 class="title second-color">GolfNews Tournament</h2>
                    <h1 class="title main-color">SPRING</h1>
                    <div class="date second-color">20/03/2019</div>
                    <div class="location">Long Thanh Golf Resort</div>
                </div>
                <div><a class="main-button" href="/xem-chi-tiet">Xem chi tiết</a></div>
            </div>
        </div>
        <div class="carousel-item"><img class="d-block w-100" src="../images/slide2.jpg" alt="First slide">
            <div class="carousel-item-info d-flex align-items-center justify-content-between flex-column">
                <div>
                    <h2 class="title second-color">GolfNews Tournament</h2>
                    <h1 class="title main-color">SPRING</h1>
                    <div class="date second-color">20/03/2019</div>
                    <div class="location">Long Thanh Golf Resort</div>
                </div>
                <div><a class="main-button" href="/xem-chi-tiet">Xem chi tiết</a></div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#homeSlider" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#homeSlider" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="home-block-1 padding-v-30">
    <div class="container">
        <div class="row event-list">
            <div class="col-md-6 margin-v-15">
                <div class="event-item">
                    <div class="event-item__thumbnail thumbnail--border"><img src="../images/tour1.png"></div>
                    <div class="event-item__detail row">
                        <div class="col-lg-8 col-md-7 col-8">
                            <div class="title"><a href="" title="">The 2nd Vhandicap Tournament</a></div>
                            <div class="date">22/04/2019</div>
                            <div class="location">Long Bien Golf Club</div>
                        </div>
                        <div class="col-lg-4 col-md-5 col-4 d-flex flex-column justify-content-between align-items-lg-center align-items-end">
                            <div class="price main-color">2.300.000</div>
                            <a class="main-button xl-button">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 margin-v-15">
                <div class="event-item">
                    <div class="event-item__thumbnail thumbnail--border"><img src="../images/tour2.png"></div>
                    <div class="event-item__detail row">
                        <div class="col-lg-8 col-md-7 col-8">
                            <div class="title"><a href="" title="">The 2nd Vhandicap Tournament</a></div>
                            <div class="date">22/04/2019</div>
                            <div class="location">Long Bien Golf Club</div>
                        </div>
                        <div class="col-lg-4 col-md-5 col-4 d-flex flex-column justify-content-between align-items-lg-center align-items-end">
                            <div class="price main-color">2.300.000</div>
                            <a class="main-button xl-button">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 margin-v-15">
                <div class="event-item">
                    <div class="event-item__thumbnail thumbnail--border"><img src="../images/tour3.png"></div>
                    <div class="event-item__detail row">
                        <div class="col-lg-8 col-md-7 col-8">
                            <div class="title"><a href="" title="">The 2nd Vhandicap Tournament</a></div>
                            <div class="date">22/04/2019</div>
                            <div class="location">Long Bien Golf Club</div>
                        </div>
                        <div class="col-lg-4 col-md-5 col-4 d-flex flex-column justify-content-between align-items-lg-center align-items-end">
                            <div class="price main-color">2.300.000</div>
                            <a class="main-button xl-button">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 margin-v-15">
                <div class="event-item">
                    <div class="event-item__thumbnail thumbnail--border"><img src="../images/tour4.png"></div>
                    <div class="event-item__detail row">
                        <div class="col-lg-8 col-md-7 col-8">
                            <div class="title"><a href="" title="">The 2nd Vhandicap Tournament</a></div>
                            <div class="date">22/04/2019</div>
                            <div class="location">Long Bien Golf Club</div>
                        </div>
                        <div class="col-lg-4 col-md-5 col-4 d-flex flex-column justify-content-between align-items-lg-center align-items-end">
                            <div class="price main-color">2.300.000</div>
                            <a class="main-button xl-button">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="home-block-2 padding-v-30">
    <div class="container">
        <div class="block-title text-center d-flex align-items-center">
            <div class="padding-h-15">TIN TỨC GOLF MỚI NHẤT</div>
        </div>
        <div class="row news-list">
            <div class="col-lg-4 col-md-6 margin-v-15">
                <div class="news-item">
                    <div class="news-item__thumbnail thumbnail--border"><img src="../images/news1.png"></div>
                    <div class="news-item__detail">
                        <div class="title"><a href="" title="">FLC Biscom Golf Tournament 2018 buổi thi đấu thứ 3:
                            Golfer Nguyễn Thị Kim Anh 'ẵm' 3 giải kỹ thuật</a></div>
                        <div class="date">22/10/2018</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 margin-v-15">
                <div class="news-item">
                    <div class="news-item__thumbnail thumbnail--border"><img src="../images/news2.png"></div>
                    <div class="news-item__detail">
                        <div class="title"><a href="" title="">FLC Biscom Golf Tournament 2018 buổi thi đấu thứ 3:
                            Golfer Nguyễn Thị Kim Anh 'ẵm' 3 giải kỹ thuật</a></div>
                        <div class="date">22/10/2018</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 margin-v-15">
                <div class="news-item">
                    <div class="news-item__thumbnail thumbnail--border"><img src="../images/news3.png"></div>
                    <div class="news-item__detail">
                        <div class="title"><a href="" title="">FLC Biscom Golf Tournament 2018 buổi thi đấu thứ 3:
                            Golfer Nguyễn Thị Kim Anh 'ẵm' 3 giải kỹ thuật</a></div>
                        <div class="date">22/10/2018</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 margin-v-15">
                <div class="news-item">
                    <div class="news-item__thumbnail thumbnail--border"><img src="../images/news4.png"></div>
                    <div class="news-item__detail">
                        <div class="title"><a href="" title="">FLC Biscom Golf Tournament 2018 buổi thi đấu thứ 3:
                            Golfer Nguyễn Thị Kim Anh 'ẵm' 3 giải kỹ thuật</a></div>
                        <div class="date">22/10/2018</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 margin-v-15">
                <div class="news-item">
                    <div class="news-item__thumbnail thumbnail--border"><img src="../images/news5.png"></div>
                    <div class="news-item__detail">
                        <div class="title"><a href="" title="">FLC Biscom Golf Tournament 2018 buổi thi đấu thứ 3:
                            Golfer Nguyễn Thị Kim Anh 'ẵm' 3 giải kỹ thuật</a></div>
                        <div class="date">22/10/2018</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 margin-v-15">
                <div class="news-item">
                    <div class="news-item__thumbnail thumbnail--border"><img src="../images/news6.png"></div>
                    <div class="news-item__detail">
                        <div class="title"><a href="" title="">FLC Biscom Golf Tournament 2018 buổi thi đấu thứ 3:
                            Golfer Nguyễn Thị Kim Anh 'ẵm' 3 giải kỹ thuật</a></div>
                        <div class="date">22/10/2018</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container padding-v-30">
        <div class="row">
            <div class="col-md-6 md-no-padding"><a class="logo" href=""><img
                    src="../images/GolfNews_Logo_black.png"></a>
                <p>&copy; Copyright 2018 Golfnews Tournament Booking System.All rights reserved
                <p>
                <p>Tất cả bản quyền thuộc về Golfnews</p>
            </div>
            <div class="col-md-2">
                <p>Column 1</p>
                <p>Column 2</p>
                <p>Column 3</p>
            </div>
            <div class="col-md-2">
                <p>Column 1</p>
                <p>Column 2</p>
                <p>Column 3</p>
            </div>
            <div class="col-md-2">
                <p>Column 1</p>
                <p>Column 2</p>
                <p>Column 3</p>
            </div>
        </div>
    </div>
</footer>
<script src="../js/jquery-3.2.1.slim.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap-4.1.3.min.js"></script>
<script src="../js/jquery-1.12.4.js"></script>
<script src="../js/jquery-ui-1.12.1.js"></script>
<script src="../js/main.js"></script>
</body>
</html>

build/index.pug
extends layout.pug
block content
	<div id="homeSlider" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#homeSlider" data-slide-to="0" class="active"></li>
			<li data-target="#homeSlider" data-slide-to="1"></li>
		</ol>
		<div class="carousel-inner">
			- for (var x = 1; x <= 2; x++)
				- var active = (x==1)? ' active' : ''
				div(class="carousel-item" + active)
					img(class="d-block w-100" src="../images/slide"+x+".jpg" alt="First slide")
					div.carousel-item-info.d-flex.align-items-center.justify-content-between.flex-column
						div
							h2.title.second-color GolfNews Tournament
							h1.title.main-color SPRING
							.date.second-color 20/03/2019
							.location Long Thanh Golf Resort
						div
							a(href="/xem-chi-tiet" class= "main-button") Xem chi tiết

		</div>
		<a class="carousel-control-prev" href="#homeSlider" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#homeSlider" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	.home-block-1.padding-v-30
		.container
			.row.event-list
				- for (var x = 1; x <= 4; x++)
					.col-md-6.margin-v-15
						.event-item
							.event-item__thumbnail.thumbnail--border
								img(src='../images/tour'+x+'.png')
							.event-item__detail.row
								.col-lg-8.col-md-7.col-8
									.title
										a(href='' title='') The 2nd Vhandicap Tournament
									.date 22/04/2019
									.location Long Bien Golf Club
								.col-lg-4.col-md-5.col-4.d-flex.flex-column.justify-content-between.align-items-lg-center.align-items-end
									.price.main-color 2.300.000
									a.main-button.xl-button Xem chi tiết

	.home-block-2.padding-v-30
		.container
			.block-title.text-center.d-flex.align-items-center
				div.padding-h-15 TIN TỨC GOLF MỚI NHẤT
			.row.news-list
				- for (var x = 1; x <= 6; x++)
					.col-lg-4.col-md-6.margin-v-15
						.news-item
							.news-item__thumbnail.thumbnail--border
								img(src='../images/news' + x + '.png')
							.news-item__detail
								.title
									a(href='' title='') FLC Biscom Golf Tournament 2018 buổi thi đấu thứ 3: Golfer Nguyễn Thị Kim Anh 'ẵm' 3 giải kỹ thuật
								.date 22/10/2018
